.outerNav {
    background-color: white;
    /* padding: 0.7% 3%; */
    padding: 0.6rem 3rem;
    box-shadow: 0 0.3rem 0.25rem -0.25rem rgb(0, 0, 0, 0.2);
  }
  
  .yiImg {
    width: 4.5rem;
    margin-right: 2%;
  }
  
  .hamDisplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navStyle{
    margin-left: 200px;
  }

  .languageContainer {
    display: flex;
    align-items: center;
    /* cursor: pointer; */
  }

  .btnStyle{
    /* background-color: #FB2576; */
    padding : 10px 15px;
    border: none;
    outline: none;
  }

  .navBtn {
    background-color: #FB2576;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 38px;
    /* width: fit-content; */
    /* padding: 0 1rem; */
    /* padding: 0; */
    padding: 5px 20px;
    border: none;
    margin-left: 1rem;
  }



  /* ... (Your existing styles) */

.language-dropdown {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.language-select {
    

  font-size: 14px;
  padding: 5px 10px;
  border:none;
}


/* ... (Your existing styles) */



  
  @media (max-width: 1000px) and (min-width: 576px) {
    .navBtn {
      margin-left: 0;
      margin-top: 0.8rem;
      /* width: 100%; */
    }
  }
  
  @media (max-width: 576px) {
    .outerNav {
      padding: 0.5rem 2rem;
    }
  
    .navBtn {
      margin-left: 0;
      margin-top: 0.8rem;
      /* width: 100%; */
    }
  }
  